<img src="assets/back.png" alt="back" (click)="back()" />
<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
  <p id="title">Se connecter</p>

  <div class="labelInput">
    <label for="login">Email ou nom d'utilisateur</label>
    <input matInput formControlName="login" name="login"/>
  </div>
  <div class="labelInput">
    <label for="password">Mot de passe</label>
    <input matInput type="password" formControlName="password" name="password"/>
  </div>

  <p class="errorMessage" *ngIf="onError">Login ou mot de passe incorrect</p>
  <button mat-raised-button color="primary" type="submit">Se connecter</button>
</form>
