<img src="assets/back.png" alt="back" (click)="back()" />
<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
  <p id="title">Créer un nouvel article</p>

  <mat-form-field appearance="fill">
    <mat-select placeholder="Sélectionner un thème"  formControlName="topic">
      <mat-option *ngFor="let topic of topics$ | async" [value]="topic">
        {{ topic.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <input matInput placeholder="Titre de l'article" formControlName="title" />
  <p class="invalidMessage" *ngIf="form.get('title')?.errors?.['required'] && form.get('title')?.dirty" >Le titre est requis.</p>
  <p class="invalidMessage" *ngIf="form.get('title')?.errors?.['minlength'] && form.get('title')?.dirty" >Le titre doit faire minimum 5 charactères.</p>
  
  <textarea matInput class="content" placeholder="Contenu de l'article" formControlName="content"> </textarea>
  <p class="invalidMessage" *ngIf="form.get('content')?.errors?.['required'] && form.get('content')?.dirty" >Le contenu est requis.</p>
  <p class="invalidMessage" *ngIf="form.get('content')?.errors?.['minlength'] && form.get('content')?.dirty" >Le contenu doit faire minimum 50 caractères.</p>

  <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Créer</button>
</form>
