* {
    width: 100%;    
    box-sizing: border-box;
}

#header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    overflow-x: hidden;
    width: 100%;
    border : solid black 2px;
    height: 94px;
}

#logo {
    width: 140px;
    height: 81px;
    display: block;
    border : 0px;
}

#menu {
    display: flex;
    align-items: center;
    gap : 50px;
    width: 30%;
    justify-content: space-around;
    margin-right: 30px;
}

#user {
    width : 60px;
    height: 60px;    
}

#user:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    font-weight: lighter;
}

.active {
    color : #7550ec;
}


