<div class="top-container">
  <button mat-raised-button color="primary" (click)="create()">
    Créer un article
  </button>

  <div class="sort-container">
    <button mat-button (click)="toggleSortOrder()">
      Trier par
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </div>
</div>

<ng-container *ngIf="posts$ | async as postsList; else loading">
  <div class="card-container">
    <mat-card
      *ngFor="let post of postsList"
      [routerLink]="['/posts', post.postId]"
    >
      <mat-card-header>
        <mat-card-title>{{ post.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="date"
          >Date : {{ post.createdAt | date : "longDate" }}</span
        >
        <span class="auteur">Auteur : {{ post.user.username }}</span>
        <p id="text">{{ post.content }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>

<ng-template #loading>
  <p>Chargement des posts...</p>
</ng-template>
