<div class="parentContainer">
  <img id="back" src="assets/back.png" alt="back" (click)="back()" />
  <div class="childContainer">
    <div class="postContainer" *ngIf="post$ | async as post">
      <h2>{{ post.title }}</h2>
      <div class="infoContainer">
        <span>Date : {{ post.createdAt | date }}</span>
        <span>Auteur : {{ post.user.username }}</span>
        <span>Thème : {{ post.topic.name }}</span>
      </div>
      <p class="content" [innerHTML]="content"></p>
    </div>

    <hr />

    <div class="commentContainer" *ngIf="comments$ | async as comments">
      <h2>Commentaires</h2>
      <div class="comment" *ngFor="let comment of comments">
        <span>{{ comment.user.username }}</span>
        <p class="commentContent">{{ comment.content }}</p>
      </div>
    </div>

    <div class="newCommentContainer">
      <textarea
        [formControl]="newComment"
        placeholder="Ecrivez ici votre commentaire"
      ></textarea>
      <img id="send" src="assets/fleche.png" alt="send" (click)="addComment()" />
    </div>
  </div>
</div>
