.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#buttonContainer {
  display : inline-block;
}

button {
  margin: 50px;
  border: solid 1px black;
  box-shadow: none;
}